receivers:
  otlp:
    protocols:
      http:
      grpc:
exporters:
  jaeger:
    endpoint: http://jaeger:14250
    tls:
      insecure: true
  debug:
    verbosity: basic
processors:
  batch:
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger, debug]

