server:
  http_listen_port: 9080
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: system
    static_configs:
      - targets: [localhost]
        labels:
          job: varlogs
          __path__: /var/log/*log
  - job_name: yseeku-backend
    static_configs:
      - targets: [localhost]
        labels:
          job: yseeku
          service: backend
          __path__: /var/log/yseeku/*.log
